@dim: rgba(50, 50, 50, 0.67);
@dark: #222;
@offwhite: #999;

.span3.thumb {
    position: relative;
    height: 220px;
    text-align: center;
    line-height: 200px;
}

.span3.thumb .title {
    position: absolute;
    font-size: 26px;
    line-height: 16px;
    bottom: 10px;
    width: 100%;
}

.main.container a {
    color: @dark;
}

.main.container a:hover {
    color: @offwhite;
}
