mixin aside(items, title, asideClass, exclude)
  link(rel="stylesheet", href="/style/aside.css")
  script(src="//code.jquery.com/ui/1.10.2/jquery-ui.js")
  if asideClass === "albumList"
    script(src="/script/lib/h5utils.js")
    script(src="/script/src/drag.js")

  if (items.length || exclude !== "Unsorted")
    aside(class=asideClass)= title
      each item in items
        if (item !== exclude)
          .item= item
      if (asideClass === "albumList" && exclude !== "Unsorted")
        .item.em Unsorted
