!!!
html(lang="en")
  head
    title Flashbulb
    link(rel="stylesheet", href="/style/lib/bootstrap.min.css")
    link(rel="stylesheet", href="/style/lib/font-awesome.min.css")
    link(rel="stylesheet", href="/style/default.css")
    script(src="//code.jquery.com/jquery-1.9.1.min.js")
    script(src="/script/lib/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.9.0/dropbox.min.js")
    block head
  
  body
    block navbar
    block toolbar

    block content
