mixin gallery(items)
  - if (items.length)
    .row: each item, i in items
      - trim_file = item.name.split('.')[0]
      .span3.thumb 
        i.icon-spinner.icon-spin.icon-4x
        img(src='/photos' + item.path, alt=trim_file)
        ul.overlay-buttons
          li.overlay-button
            a.edit(href="/edit" + item.path, title="Edit")
              i.icon-2x.icon-pencil
          li.overlay-button
            i.icon-2x.icon-share
        .thumbinfo= trim_file

    .span12#share.dropdown
      #irc_pc
      .row
        .span3.thumb.offset1
          img#share-image(src="", alt="Share Image")
        .span5
          #share-image-title
          if fbToken
            form#shareform(action="https://graph.facebook.com/me/photos?access_token=" + fbToken,
                           enctype="multipart/formdata", method="post")
              input#fbSource(type="hidden", name="url")
              p Share this photo on Facebook with a caption:
              textarea#share-desc(name="message")
              button#fb-submit.btn Share on Facebook

          else
            a(href="/auth/facebook") Login to Facebook to share

        .span2.dropdown-controls
          span.dropdown-title Share
          i.close.icon-remove.icon-2x
  -else
    .row
      .span6.offset3.watermark
        img.nodrag(src="/image/empty.png")
        h3 No photos here!
        p To get started, add photos to your Dropbox, in the Apps/Flashbulb folder.
