extends base-layout

block head
  link(rel="stylesheet", href="/style/home.css")

block content
  .container
    .hero-unit
      .row
        .span5.well
          h1 Flashbulb
          p.lead Discover a whole new way to manage your photos
          p Flashbulb allows you to organize your favorite photos into albums,
            | correct color balance, add filters, and share your favorite moments on
            | Facebook.
          p: a.btn.btn-large.pull-right(href="/auth/dropbox") Sign in with Dropbox
