!!!
html(lang="en")
    head
        title Flashbulb
        script(src="//code.jquery.com/jquery-1.9.1.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.9.0/dropbox.min.js")
        script(src="/javascripts/script.js")

    body
        h1 Flashbulb!
        p Welcome #{user.name}
        
        ul: each f in files
            li= f

        p: a(href="/logout") Logout
