!!!
html(lang="en")
    head
        title Flashbulb
    body
        h1 Flashbulb!
        p Welcome #{user.name}
        
        ul: each f in files
            li= f

        p: a(href="/logout") Logout
