extends base-layout

block head
  link(rel="stylesheet", href="/stylesheets/user.css")

block content
  .navbar.navbar-inverse
    .navbar-inner
      .container
        .logo 
          i.icon-camera-retro 
          | Flashbulb!
        ul.nav.pull-right
          li 
            a(href='/logout', title='Logout')
              i.icon-signout.icon-2x

  .container
    p Welcome #{user.name}
    
    ul: each f in files
      li: a(href='/db/' + f)= f
