extends base-user

block head
  link(rel="stylesheet", href="/stylesheets/user.css")
  script(src="/javascripts/user.js")

block toolbar
  .toolbar.navbar.navbar-inverse
    .navbar-inner
      .container
        ul.nav.pull-left
          li.active All Pictures
          li
            a(href="/albums") Albums


block content
  .container
    .row: each file, i in files
      - trim_file = file.split('.')[0]
      if i%4==0
        .row-fluid

      .span3.thumb 
        a(href='/edit/' + file)
          img(src='/file/' + file, alt='User image')
          .thumb-overlay
            i.icon-2x.icon-edit
        .thumbinfo= trim_file
