block toolbar
  #toolbar.toolbar.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        ul.nav.span3
          li.active All Pictures
          li#albums Albums
        
        #messages.span6: i Hello
