extends base-user

block head
  link(rel="stylesheet", href="/stylesheets/user.css")
  script(src="/javascripts/user.js")

block toolbar
  .toolbar.navbar.navbar-inverse
    .navbar-inner
      .container
        ul.nav.pull-left
          li.active All Pictures
          li
            a(href="/albums") Albums


block content
  .container
    .row: each file, i in files
      - trim_file = file.split('.')[0]
      if i%4==0
        .row-fluid

      .span3.thumb 
        img(src='/file/' + file, alt=trim_file)
        ul.overlay-buttons
          li.overlay-button
            a(href="/edit/" + file, title="Edit")
              i.icon-2x.icon-edit
          li.overlay-button
            a(href="/share/" + file, title="Share")
              i.icon-2x.icon-share
        .thumbinfo= trim_file
