extends base-user

block head
  link(rel="stylesheet", href="/stylesheets/user.css")
  script(src="/javascripts/user.js")

block toolbar
  .toolbar.navbar.navbar-inverse
    .navbar-inner
      .container
        ul.nav.pull-left
          li.active All Pictures
          li
            a(href="/albums") Albums

block dropdowns
  .container#share.dropdown
    .row
      .span3.thumb.offset1
        img#share-image(src="", alt="Share Image")
      .span6
        #share-image-title
        p Share on Facebook!
      .span2.dropdown-controls
        span.dropdown-title Share
        i.close.icon-remove.icon-2x

block content
  .main.container
    .row: each file, i in files
      - trim_file = file.split('.')[0]
      if i%4==0
        .row-fluid

      .span3.thumb 
        img(src='/file/' + file, alt=trim_file)
        ul.overlay-buttons
          li.overlay-button
            a(href="/edit/" + file, title="Edit")
              i.icon-2x.icon-edit
          li.overlay-button
            a(href="javascript:void(0);" + file, title="Share")
              i.icon-2x.icon-share
        .thumbinfo= trim_file
