extends ../base-layout

block head
  link(rel="stylesheet", href="/style/user.css")
  script(src="/script/app.js")

block navbar
  .primary.navbar.navbar-inverse
    .navbar-inner
      .container
        a.logo(href="/")
          i.icon-camera-retro 
          | Flashbulb!
        ul.nav.pull-right
          li #{user.name}
          li
            a(href="/settings", title="Settings")
              i.icon-cog.icon-large
              | Settings
          li
            a(href='/logout', title='Logout')
              i.icon-signout.icon-large
              | Logout
