extends ../layout

block content
  h1 Create User

  form(action="/users", method="post")
    label Name
      input(name="name")
    label Email
      input(name="email")
    label Dropbox Id
      input(name="dropboxId")
    button Add User
