extends ../layout

block content
  h1 user
  form(action="/albums", method="post")
    label New album
      input(type="text", name="albumName")
    button Submit
  ul
    each album in albums
      li: a(href="/albums/" + album)= album

