extends ../layout

block content
  form(action="/users/#{user.dropboxId}", method="post")
    input(type="hidden", name="_method", value="put")
    label Email
      input(name="email", value="#{user.email}")
    label Name
      input(name="name", value="#{user.name}")
    button Update User

  form(action="/users/#{user.dropboxId}", method="post")
    input(type="hidden", name="_method", value="delete")
    button Delete User
