block toolbar
  #toolbar.toolbar.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        ul.nav.pull-left
          li.toolbar-link(data-href="/all") All Pictures
          li.active Albums

      #messages.span6
