@primary: #de5e31;
@primary-light: (@primary - #222);
@white: #eee;
@span3: 220px;
@dim: rgba(50, 50, 50, 0.67);

.thumb {
    position: relative;
    margin-bottom: 20px;
    height: 220px;
    overflow: hidden;
    background-color: lightgray;
    z-index: -2;
}

.thumb img {
    min-height: @span3;
    min-width: @span3;
}

.thumb>i.icon-spinner {
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 50px;;
    height: 50px;
    z-index: -1;
}

.thumbinfo {
    position: absolute;
    display: none;
    bottom: 0px;
    background-color: @dim;
    color: @white;
    padding: 5px;
    width: 100%;
}

ul.overlay-buttons {
    position: absolute;
    display: none;
    top: 0px;
    color: @dim;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li.overlay-button {
    float: left;
    padding: 5px;
    padding-right: 0px;
    color: @dim;
    text-shadow: 1px 1px @white;
    cursor: pointer;
}

li.overlay-button a {
    text-decoration: none;
    color: @dim;
}

li.overlay-button:hover,
li.overlay-button:hover a {
    color: @white;
    text-shadow: 1px 1px @dim;
}

#share-image-title {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
}
