include ../gallery
include ../aside

block toolbar
  #toolbar.toolbar.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        ul.nav.span3
          li.active All Pictures
          li.toolbar-link: a(href="/albums") Albums
        #messages.span6

block head
  link(rel="stylesheet", href="/style/user.css")
  script(src="/script/app.js")
  script(src="/script/src/album.js")

block content
  #content.main.container(data-type="gallery")
    mixin gallery(photos)
    mixin aside(albums, "")
    script(src="/script/src/drag.js")

