extends ../layout
include ../aside

block head
  link(rel="stylesheet", href="/style/user.css")
  link(rel="stylesheet", href="/style/editor.css")
  script(src="/script/app.js")
  script(src="/script/src/album.js")
  script(src="/script/src/editor.js")

block toolbar
  ul.nav.span3
    li.toolbar-link: a(href="/all") All Pictures
    li.toolbar-link: a(href="/albums") Albums
  #messages.span6

  ul.nav.span3.tools
    li.tool-link
      a.save(href="/photos" + path, title="Save photo")
        i.icon-save.icon-large
    li.tool-link
      i.icon-filter.icon-large

block content
  #content.main.container(data-type="editor")
    .row
      .span12.editor
        canvas#editor(width="1000", height="500")
          img.editorImg(src=path)
    - filters = ["xpro", "bright", "none"]
    mixin aside(filters, "Filters", "name")
