extends ../layout
include ../aside

block head
  link(rel="stylesheet", href="/style/user.css")
  link(rel="stylesheet", href="/style/editor.css")
  script(src="/script/app.js")
  script(src="/script/src/editor.js")
  script(src="/script/lib/html5slider.js")

block toolbar
  ul.nav.span3
    li.toolbar-link: a(href="/all") All Pictures
    li.toolbar-link: a(href="/albums") Albums
  #messages.span6

  ul.nav.span3.tools
    li.tool-link
      a.save(href="/photos" + path, title="Save photo")
        i.icon-save.icon-large
    li.tool-link
      i.icon-filter.icon-large
    li.tool-link
      i.icon-tint.icon-large

block content
  #content.main.container(data-type="editor")
    .row
      .span12.editor
        canvas#editor(width="1000", height="500")
          img.editorImg(src="/photos" + path)
    - filters = ["X-Pro", "Warm", "Black and White", "None"]
    mixin aside(filters, "Filters", "filters")

    aside.colors Color
      .item.control Red
        input#red(type="range", min="-100", max="100", value="0")
      .item.control Green
        input#green(type="range", min="-100", max="100", value="0")
      .item.control Blue
        input#blue(type="range", min="-100", max="100", value="0")
      .item#reset Reset

