extends ../layout
include ../gallery

block head
  link(rel="stylesheet", href="/style/album.css")
  script(src="/script/app.js", type="text/javascript")

block toolbar
  #toolbar.toolbar.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        ul.nav.span3
          li.toolbar-link: a(href="/photos/all") All Pictures
          li.active Albums
        #messages.span6

  ul.nav.span1.tools
    li.tool-link
      a(href="/albums/new", title="New album"): i.icon-plus.icon-large

block content
  #content.main.container(data-type="gallery")
    .row 
      each item, i in albums
        a.album(href="/albums/" + item)
          .span3.thumb 
            i.icon-book.icon-4x
            .title= item
      a.album(href="/albums/Unsorted")
        .span3.thumb
          i.icon-copy.icon-4x
          .title Unsorted

