extends ../layout
include ../gallery

block head
  link(rel="stylesheet", href="/style/album.css")

block toolbar
  ul.nav.span3
    li.toolbar-link: a(href="/photos/all") All Pictures
    li.active Albums
  #messages.span6

block content
  #content.main.container(data-type="gallery")
    .row 
      a(href="/albums/new")
        .span3.thumb
          i.icon-4x.icon-plus
          .thumbinfo New Album
      each item, i in albums
        a(href="/albums/" + item)
          .span3.thumb 
            i.icon-book.icon-4x
            .thumbinfo= item
//
  h1= user
  form(action="/albums", method="post")
    label New album
      input(type="text", name="albumName")
    button Submit
  ul
    li
      a(href="/albums/unsorted") Unsorted
    each album in albums
      li
        a(href="/albums/" + album)= album
        form(action="/albums/" + album, method="post")
          input(type="hidden", name="_method", value="delete")
          button Delete Album

