extends ../layout

block content
  h1= user
  form(action="/albums", method="post")
    label New album
      input(type="text", name="albumName")
    button Submit
  ul
    li
      a(href="/albums/unsorted") Unsorted
    each album in albums
      li
        a(href="/albums/" + album)= album
        form(action="/albums/" + album, method="post")
          input(type="hidden", name="_method", value="delete")
          button Delete Album

