extends ../layout
include ../gallery
include ../aside

block head
  link(rel="stylesheet", href="/style/user.css")
  link(rel="stylesheet", href="/style/aside.css")
  script(src="/script/app.js")
  script(src="/script/src/album.js")
  script(src="/script/lib/handlebars.min.js")

block toolbar
  ul.nav.span3
    li.toolbar-link: a(href="/photos/all") All Pictures
    li.toolbar-link: a(href="/albums") Albums
  #messages.span6

  ul.nav.span1.tools
    if name != "Unsorted"
      li.tool-link
        a(id="delete-album-button", data-delete="#{name}", href="javascript:void(0)", title="Delete album")
          i.icon-trash.icon-large

block content
  #content.main.container(data-type="gallery")
    h1= name
    mixin gallery(photos)
    mixin aside(albums, 'Move to album', 'albumList', name)
