extends ../layout

block content
  h1= name
  - if (photos.length)
    ul
      each photo in photos
        li
          img(src="/photos" + photo.path)
          p= photo.name
          form(action="/move", method="post")
            input(type="hidden", name="from", value="/" + name)
            input(type="hidden", name="photo", value="/" + photo.name)
            label Move to album:
              input(name="to")
            button Move
  - else
    p Album is empty
